# 更新対象のスプレッドシートのURL
#
# あらかじめ対象のスプレッドシートを、サービスアカウントと共有しておいてください
SPREADSHEET_URL = "https://docs.google.com/spreadsheets/d/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/edit?gid=0#gid=0"

# スプレッドシートのシート名
SPREADSHEET_SHEET_NAME = "結果一覧"
